body {
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg, #ff9a9e, #fad0c4);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 15px;
    width: 300px;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    cursor: pointer;
}